<h1>Listing students</h1>

<%= link_to 'New student', new_student_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th>Rating</th>
    <th></th>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.subject %></td>
        <td><%= student.rating %></td>
        <td><%= link_to 'Show', student_path(student) %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Delete', student_path(student),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>