<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @student.subject %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @student.rating %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'All students', students_path %>
<%= link_to 'New student', new_student_path %>