<h1>Listing fields</h1>

<%= link_to 'New field', new_field_path %>

<table>
  <tr>
    <th>field category</th>
    <th>field</th>
    <th>Answer</th>
    <th></th>
  </tr>

  <% @fields.each do |field| %>
      <tr>
        <td><%= field.field_categorye %></td>
        <td><%= field.field %></td>
        <td><%= field.answer %></td>
        <td><%= link_to 'Show', field_path(field) %></td>
        <td><%= link_to 'Edit', edit_field_path(field) %></td>
        <td><%= link_to 'Delete', field_path(field),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>