<p>
  <strong>field category:</strong>
  <%= @field.field_categorye %>
</p>

<p>
  <strong>field:</strong>
  <%= @field.field %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @field.answer %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'All fields', fields_path %>
<%= link_to 'New field', new_field_path %>