<h1>Listing fields</h1>

<%= link_to 'New field', new_field_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @fields.each do |field| %>
      <tr>
        <td><%= field.title %></td>
        <td><%= field.text %></td>
        <td><%= link_to 'Show', field_path(field) %></td>
        <td><%= link_to 'Edit', edit_field_path(field) %></td>
        <td><%= link_to 'Destroy', field_path(field),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>