<%= form_with model: @drink, local: true do |form| %>

    <% if @drink.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@drink.errors.count, "error") %> prohibited
            this drink from being saved:
          </h2>
          <ul>
            <% @drink.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :years %><br>
      <%= form.text_field :years %>
    </p>

    <p>
      <%= form.label :price %><br>
      <%= form.text_field :price %>
    </p>

    <p>
      <%= form.submit %>
    </p>

<% end %>